* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Lato', sans-serif;
    background: linear-gradient(to top,
    #dbdbd2 80%, #009688 20%);
}

.container {
    width: 80%;
    height: 95%;
    margin: auto;
    display: flex;
    padding-top: 20px;
    border: 1px solid black;
}

.user-container {
    width: 40%;
}

.chat-container {
    width: 60%;
}

.header-user {
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.nome-utente img {
    width: 60px;
    border-radius: 50%;
    vertical-align: middle;
}

.icons-user i {
    vertical-align: middle;
    padding: 7px;
    color: #b1b1b1;
}

.notifications {
    background-color: #8edafc;
    padding: 10px;
}

.notifications i {
    padding: 10px;
    color: #8edafc;
    border-radius: 50%;
    background-color: white;
    font-size: 30px;
    vertical-align: middle;
}

.notifications-text {
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
}

.input-text {
    padding: 3px;
    background-color: #fafafa;
}

.search {
    width: 98%;
}

ul {
    list-style: none;
}

.user-list {
    overflow-y: scroll;
    background-color: white;
}

.user-list li {
    padding: 10px;
    display: flex;
}

.user-list li.active {
    background-color:  #e9ebeb;
}

.user-img {
    width: 50px;
    height: 50px;
}

.user-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.chat-user {
    height: 80px;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.user-selected div {
    display: inline-block;
}

.user-selected img {
    width: 60px;
    border-radius: 50%;
    vertical-align: middle;
}

.chat-user i {
    vertical-align: middle;
    padding: 7px;
    color: #b1b1b1;
}



.chat {
    background-image: url("../img/mine.jpg");
    height: calc(100% - 150px);
    padding: 50px;
}

.message {
    display: flex;
}

.message.sent .message-text{
    background-color: #d5f9ba;
    margin-left: auto;
}

.message-text {
    width: 40%;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    background-color: white;
    margin-bottom: 10px;
}

.message-date {
    position: absolute;
    font-size: 12px;
    right: 4px;
    bottom: 4px;
    color: grey;
}


.message-input {
    height: 70px;
    background-color: pink;
}

.message-input {
    display: flex;
    background-color: #f3eeea;
    align-items: center;
    justify-content: space-around;
}

.text-to-send {
    width: 70%;
    height: 60%;
    padding: 10px;
}



