<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Vue Boolzapp</title>
    </head>
    <body>

        <div id="root" class="container">
            <div class="user-container">
                <div class="header-user">
                    <div class="nome-utente">
                        <img src="img/avatar_io.jpg" alt="Io">
                        <span>Nome Utente</span>
                    </div>
                    <div class="icons-user">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div class="notifications">
                    <i class="fas fa-bell-slash"></i>
                    <div class="notifications-text">
                        <div>Ricevi notifiche di nuovi messaggi</div>
                        <u>Attiva notifiche desktop</u>
                    </div>
                </div>
                <div class="input-text">
                    <input class="search" type="text" placeholder="Cerca o inizia una nuova chat">
                </div>
                <ul class="user-list">
                    <li v-for="(user, index) in contacts" :key="index" :class="index == indexClicked ? 'active' : null " @click="selected(index)">
                        <div class="user-img">
                            <img :src="`img/avatar${user.avatar}.jpg`" :alt="user.name">
                        </div>
                        <div class="user-name">
                            {{user.name}}
                        </div>
                    </li>
                </ul>
            </div>
            <div class="chat-container">
                <div class="chat-user">
                    <div class="user-selected">
                        <img :src="`img/avatar${contacts[indexClicked].avatar}.jpg`" alt="contacts[indexClicked].name">
                        <div>{{contacts[indexClicked].name}}</div>
                        <!-- <div class="access">Ultimo accesso oggi alle : </div> -->
                    </div>
                    <div class="chat-user">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div class="chat">

                    <div class="message" v-for="(message, index) in contacts[indexClicked].messages" :key="index" :class="message.status">

                        <div class="message-text">
                            {{message.message}}
                            <div class="message-date">{{message.date}}</div>
                        </div>
                        
                    </div>

                </div>
                <div class="message-input">
                    <i class="far fa-smile"></i>
                    <input class="text-to-send" type="text" placeholder="Scrivi un messaggio" v-on:keyup.enter="submit">
                    <i class="fas fa-microphone"></i>
                </div>
            </div>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="js/contacts.js"></script>
    </body>
    </html>